## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
    <%namespace name='static' file='static_content.html'/>
<%inherit file="main.html" />
<%block name="pagetitle">${_("Partners")}</%block>
<style>
    @media (min-width: 1200px)
        .b-container {
            width: 1170px;
        }

        @media (min-width: 992px)
            .b-container {
                width: 970px;
            }

            @media (min-width: 768px)
                .b-container {
                    width: 750px;
                }

                .b-container {
                    margin-right: auto;
                    margin-left: auto;
                    padding-left: 15px;
                    padding-right: 15px;
                }

                .mb-60 {
                    margin-bottom: 60px;
                }

                .mt-40 {
                    margin-top: 40px;
                }

                .partners-grid {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }

                @media (min-width: 992px)
                    .partners-grid__item {
                        width: 20%;
                    }

                    @media (min-width: 768px)
                        .partners-grid__item {
                            width: 30%;
                            margin: 20px 20px 30px;
                        }

                        .partners-grid__item {
                            width: 45%;
                            text-align: center;
                            margin: 20px 5px 30px;
                            max-width: 250px;
                        }

                        .partners-grid__logo {
                            display: flex;
                            align-items: center;
                            min-height: 170px;
                            padding: 15px;
                            border-radius: 6px;
                            box-shadow: 0 1px 4px 0 rgba(154, 154, 154, 0.4);
                        }

                        .partners-grid__logo > img {
                            width: auto;
                            max-width: 100%;
                            max-height: 150px;
                            margin: auto;
                        }

                        img {
                            vertical-align: middle;
                        }

                        .partners-grid__title {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 1.5em;
                            margin-top: 20px;
                        }
                        .partners-grid__container{
                            margin-top: 50px;
                        }

</style>
<div class="page-heading">
    <h1>${_("Partners")}</h1>
</div>

<%block name="content">


<section>


    <!--${organizations_list}-->
    <div class="partners-grid__container">
        <div class="b-container">
            <ul class="partners-grid mt-40 mb-60">
                % for orgnization in organizations_list:
                <li class="partners-grid__item">
                    <a href="${orgnization.id}" target="_self">
                        <div class="partners-grid__logo">
                            <img src="/media/${orgnization.logo}" alt="${orgnization.name}">
                        </div>
                        <h4 class="partners-grid__title">${orgnization.name}</h4>
                    </a>
                </li>
                % endfor

            </ul>
        </div>
    </div>

    <!--% for orgnization in organizations_list:-->

    <!--<li>${orgnization.name }-->
    <!--<li>${orgnization.url }</li>-->
    <!--<li>${orgnization.banner }</li>-->
    <!--<li>${orgnization.logo}</li>-->
    <!--<li>${orgnization.description }</li>-->
    <!--% endfor-->


</section>

</%block>